In [2]:
from google.cloud import bigquery
import pandas as pd

# initiating client for bigquery and setting location
client = bigquery.Client(location="europe-west2")

In [3]:
query = ("""
SELECT * FROM ons-ids-analysis-prod.demo_wip_notebook.epc_filtered1
""")

query_job = client.query(
    query,
    # Location must match that of the dataset(s) referenced in the query.
    location="europe-west2",
)  # API request - starts the query

In [4]:
query_job

QueryJob<project=ons-ids-analysis-prod, location=europe-west2, id=c2bea710-6cc1-452d-9e4e-3633d6ce5ae2>

In [5]:
# we can then pass this to a pandas dataframe
df = query_job.to_dataframe()
'''
However, when we get to actually use the IDS properly, we should do this sparingly.

BigQuery does lots of magic, efficiency-saving stuff in the background that makes doing
your data processing in BigQuery, where possible, a much better proposition than doing so
on a spark or pandas dataframe.

This probably means we're going to have to get really good at SQL.
'''

"\nHowever, when we get to actually use the IDS properly, we should do this sparingly.\n\nBigQuery does lots of magic, efficiency-saving stuff in the background that makes doing\nyour data processing in BigQuery, where possible, a much better proposition than doing so\non a spark or pandas dataframe.\n\nThis probably means we're going to have to get really good at SQL.\n"

In [6]:
df

,lmk_key,guid,address,constituency_label,posttown,current_energy_rating,potential_energy_rating,current_energy_efficiency,potential_energy_efficiency,construction_age_band
0,c1b74060db480a5c107c3a76b7ac8bb01c5b5455179b4b...,7b4ef54b-bf70-408e-9dc3-f038988fdd5b,2 Comfordt Barn Ludlow Road Leominster Leomins...,North Herefordshire,HEREFORDSHIRE,A,A,1705,1707,
1,666d184d45bad4dc165c9f283ac2ac2e007e0eee6dbaaf...,535b2592-1ab0-4518-9b12-15c4df55d5d9,1 Comfordt Barn Ludlow Road Leominster Leomins...,North Herefordshire,HEREFORDSHIRE,A,A,1705,1707,
2,912488094732013041116372066978101,e06de197-d667-4ba0-a5a1-9d471cb8318f,"86a, Hamilton Avenue",Sutton and Cheam,SUTTON,A,A,623,624,England and Wales: 2007 onwards
3,752201012452012022014473497220798,ef9b99ca-524a-41d1-b853-bd587ee9ec86,"1, Dorchester Avenue",Bolton North East,BOLTON,A,A,500,500,England and Wales: 1930-1949
4,729769979702011120216011693390098,b09cec47-7c96-4447-b6de-e443594cebd3,"62, Horsley Drive, New Addington",Croydon Central,CROYDON,A,A,435,435,England and Wales: 1950-1966
...,...,...,...,...,...,...,...,...,...,...
850361,933583342212017102013373296230006,b6b19619-e70c-4398-a29a-5250dd39ae5a,"198, Murchison Road",Leyton and Wanstead,LONDON,A,A,93,93,INVALID!
850362,933571982912017102013395096230000,d145cbc9-2b3f-4713-bf8f-e49f2f416ba3,"176, Murchison Road",Leyton and Wanstead,LONDON,A,A,93,93,INVALID!
850363,1356979359042015082414141634852148,97bd73a7-5497-4b5a-b361-18e65fb0d435,"92, Parkland View",Barnsley East,BARNSLEY,A,A,93,93,England and Wales: 2003-2006
850364,521231519062016020710062918448546,f325e855-c24f-4012-96d5-6f78ec9e24ac,"345a, Moorside Road, Urmston",Stretford and Urmston,MANCHESTER,A,A,93,93,INVALID!
850365,1140880829402014051411003723349448,ec333d45-5e0e-47f3-ae5b-3126b373628f,"6 Chingstone Terrace, St. Egbert's Way",Chingford and Woodford Green,LONDON,A,A,93,92,NO DATA!